# Compiled class files
*.class

# Log files
*.log

# Directory for Maven or Gradle
target/
build/

# Eclipse project files
.project
.classpath
.settings/

# IntelliJ IDEA project files
.idea/
*.iml

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# OS-specific files
.DS_Store
Thumbs.db

# Other
*.jar
*.war
*.ear
*.swp
*.swo
